*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
 background: #AC14AB;
  background: -webkit-linear-gradient(top left, #AC14AB, #EC4A57);
  background: -moz-linear-gradient(top left, #AC14AB, #EC4A57);
  background: linear-gradient(to bottom right, #AC14AB, #EC4A57);
 background-size:cover;
}